
<ul class="nav nav-pills justify-content-evenly mt-4 ">
  
    <li class="nav-item">
      <a class="nav-link " routerLink="maths" routerLinkActive="active">Mathematics</a>
    </li>
    
    <li class="nav-item ">
      <a class="nav-link" routerLink="physics" routerLinkActive="active">Physics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="chemistry" routerLinkActive="active">Chemistry</a>
    </li>
    
  </ul>
  


  <div class="container">
    <router-outlet></router-outlet>
  </div>



