
<div class="card mt-5" style="width: 18rem;">
  
    <img src={{contentObj.TopicImg}} class="card-img-top" alt="..." style="width: 100%; height: 200px;">
    <div class="card-body">
      <h5 class="card-title">{{contentObj.TopicName}}</h5>
      <p class="card-text"><i> {{contentObj.Topicdes}}</i></p>
      <button type="submit" class="btn btn-success ms-2 m-4">Click</button>
      <button type="button" class="btn btn-success " style="margin-left: 25px;"><i class="fab fa-youtube"></i>Youtube</button>
    </div>
  </div>
