<nav class="navbar navbar-expand-lg navbar-light bg-primary ">
  <div class="container-fluid">
   <a href=""><img style="height:50px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCMkQpmuNq1aCAYcePmalaQPy02nBlcFJvAw&usqp=CAU" alt=""></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      
    </button>
    
    
    <div class="collapse navbar-collapse " id="navbarSupportedContent " >
      <h1><i> LEARNING PLATFORM</i></h1>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0  " >
        <li class="nav-item">
          <a class="nav-link text-warning " style="font-weight: bold;"  routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-warning" style="font-weight: bold;" routerLink="register" routerLinkActive="active">Register</a>
        </li>
        
        <li class="nav-item ">
          <a class="nav-link text-warning " style="font-weight: bold;"routerLink="login" routerLinkActive="active" >Login</a>
        </li>
         
        <li class="nav-item ">
          <a class="nav-link text-warning" style="font-weight: bold;" routerLink="content" routerLinkActive="active">Content</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-warning"style="font-weight: bold;" routerLink="about" routerLinkActive="active">About</a>
        </li> 
        
         
        
      </ul>
      
    </div>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>

