
      
  <div class="container">
  
  <header>
  
      <a href="#" class="logo">E-<span>Learning</span></a>
  
     
      
  
  </header>
  <div class="card w-50 mx-auto mt-5 mb-5 bg-secondary text-white">
    <div class="card-body">
      <h5 class="card-title">ContactUs</h5>
      <p class="card-text">Phoneno:845xxxxx89 <br> email:xxxxxxxx@gmail.com</p>
     
    </div>
  </div>
  
  <div class="card w-50 mx-auto bg-secondary text-white">
    <div class="card-body">
      <h5 class="card-title">Any Issue ContactUs</h5>
      <p class="card-text">phno:933xxxxx62 <br> email:vvvv@gmail.com</p>
      
    </div>
  </div>
  
  
  
  
  <!-- contact section  -->
  
  <section class="contact">

    <h1>ContactUs</h1>
  
  <div class="image">
      <img src="contact-img.svg" alt="">
  </div>
  
  <form action="">
  
      <div class="inputBox">
          <input type="text" placeholder="name">
          <input type="email" placeholder="email">
      </div>
  
      <input type="text" placeholder="subject" class="box">
  
      <textarea placeholder="message" name="" id="" cols="30" rows="10"></textarea>
  
      <input type="submit" class="btn" value="send">
  
  </form>
  
  </section>
  <script src="script.js"></script>
  
