

<!-- home section starts  -->

<section class="home" id="home">

  <h1 class="text-secondary">education from home <img src="https://image.shutterstock.com/image-vector/asian-student-presenting-elearning-online-260nw-1822595045.jpg" alt=""></h1>
  
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum neque aliquid similique error velit placeat vitae accusantium est nam magnam?</p>
  <a href="#"><button class="btn btn-primary" style="color: black;">get started</button></a>

  

</section>



<div class="footer">

  <div class="box-container">

      <div class="box">
          <h3>Follow Us on</h3>
          <a href="#">Instagram</a>
          <a href="#">FaceBook</a>
          <a href="#">Twitter</a>
          <a href="#">LinkedIn</a>
      </div>


      <div class="box">
          <h3>contact info</h3>
          <p> <i class="fas fa-map-marker-alt"></i> hyderabad, india 500085. </p>
          <p> <i class="fas fa-envelope"></i> example@gmail.com </p>
          <p> <i class="fas fa-phone"></i> +123-456-7890 </p>
      </div>

  </div>

  <h1 class="credit">created by <a href="#">Team-E4</a> all rights reserved. </h1>

